h1 {
    text-align:center;
    font-family:sans-serif;
    font-size:120px;
}
img {
    width:80%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
p {
    font-size:35px;
}
span {
    width:20%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
h3 {
    display:inline-block;
    text-align:center;
    margin:0, auto;
}