h1 {
    text-align:center;
    font-family:sans-serif;
    font-size:120px;
}
img {
    height:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
p {
    font-size:35px;
}
h2 {
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;
}
