h1 {
    text-align:center;
    font-family:sans-serif;
    font-size:120px;
}
img {
    width:80%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
p {
    font-size:35px;
}
span {
    width:20%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    display:inline-block;
    background-color: rgb(60, 60, 60);
    font-size:24px;
    margin-left:8%;
    margin-right:8%;
}
h4 {
    display:inline-block;
    background-color: rgb(60, 60, 60);
    font-size:24px;
}