h1 {
    text-align:center;
    font-family:sans-serif;
    font-size:120px;
    width:100%;
    background-color: rgb(100, 100, 100);
}
img {
    width:80%;
    display:inline-block;
    margin-left:10%;
    margin-right:10%;
}
p {
    font-size:20px;
    display:inline-block;
    text-align:left;
    width:60%;
    margin-left:20%;
    margin-right:20%;
}
span {
    width:20%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    display:inline-block;
    background-color: rgb(120, 120, 120);
    font-size:24px;
    margin-left:20%;
    margin-right:20%;
}
h4 {
    display:inline-block;
    background-color: rgb(120, 120, 120);
    font-size:24px;
}
a {
    color: rgb(10, 10, 10)
}
body {
    background-color: rgb(170, 170, 170);
    margin:0;
}
h5 {
    font-size:35px;
    font-weight:bold;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}