h1 {
    text-align:center;
    font-family:sans-serif;
    font-size:120px;
}
img {
    width:80%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
p {
    font-size:20px;
    text-align:right;
    margin-left:auto;
    margin-right:auto;
}
span {
    width:20%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    display:inline-block;
    background-color: rgb(120, 120, 120);
    font-size:24px;
    margin-left:18%;
    margin-right:18%;
}
h4 {
    display:inline-block;
    background-color: rgb(120, 120, 120);
    font-size:24px;
}
a {
    color: rgb(10, 10, 10)
}
body {
    background-color: rgb(170, 170, 170);
}
h5 {
    font-size:35px;
    font-weight:bold;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}