h1 {
    text-align:center;
    font-family:sans-serif;
    font-size:120px;
}
img {
    height:200px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
p {
    font-size:35px;
}
